body {
    background-image: url(../assets/images/P9b2gR.jpg);
    background-size: cover;
}
#formControl {
    background-color: #001d3d;
}
#userName {
    background-color: #003566;
    height: 2.5rem;
}
#userName::placeholder {
    color: #fff;
}
#emailA {
    background-color: #003566;
    height: 2.5rem;
}
#emailA::placeholder {
    color: #fff;
}
#passWord {
    background-color: #003566;
    height: 2.5rem;
}
#passWord::placeholder {
    color: #fff;
}
#hero-section a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}